# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.DS_Store

# Virtual environment
venv/
